[sources.cron]
type = "cron"

[handlers.sensor-sql]
type = "sql"
connection-string = "sqlite://examples/temperature.db"

[handlers.debug]
type = "debug"

[[triggers]]
source = "cron"
emit = "temperature-trigger"
arguments = "*/5 * * * * *"

[[actions]]
handler = "sensor-sql"
event = "temperature-trigger"
emit = "temperature-query"
arguments.query = """
  SELECT cast(value as real)
  FROM sensors
  WHERE sensor_id = 'temp_0'
  ORDER BY timestamp DESC
  LIMIT 1
"""

[[actions]]
handler = "debug"
event = "temperature-query"
emit = "temperature-debug"
arguments = []
